body {
    display: flex;
    align-items: center;
    gap: 20px;
    overflow: hidden;
    flex-direction: row;
}

.hidden {
    visibility: hidden;
}

#game_field {
    margin-top: 20px;
    background-color: gray;
    height: 480px;
    width: 480px;
    outline: 10px solid green;
    position: relative;
}

#enemy {
    background-image: url('./assets/Characters/Character\ 11.png');
    width: 32px;
    height: 40px;
    background-size: 400% 400%;
    background-position: 0% 0%;
    position: absolute;
}

body {
    display: flex;
    justify-content: center;
}

#game_field {
    margin-top: 20px;
    background-color: gray;
    height: 480px;
    width: 480px;
    outline: 10px solid green;
    position: relative;
}

#enemy {
    background-image: url('./assets/Characters/Character\ 11.png');
    width: 32px;
    height: 40px;
    background-size: 400% 400%;
    background-position: 0% 0%;
    position: absolute;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spin {
    animation: spin 0.5s ease-in-out forwards;
}

#start-button {
    padding: 10px;
    font-size: 20px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#player {
    background-image: url('./assets/Characters/Character\ 4.png');
    width: 32px;
    height: 40px;
    background-size: 400% 400%;
    background-position: 0% 0%;
    position: absolute;
    transform-origin: center;
}

#player.animate {
    animation-duration: 0.7s;
    animation-timing-function: steps(4);
    animation-iteration-count: infinite;
}

#player.down {
    background-position: 0% 0%;
    animation-name: down;
}

@keyframes down {
    from {
        background-position: 0% 0%;
    }
    to {
        background-position: -400% 0%;
    }
}

#player.up {
    background-position: 0% 300%;
    animation-name: up;
}

@keyframes up {
    from {
        background-position: 0% 300%;
    }
    to {
        background-position: -400% 300%;
    }
}

#player.left {
    background-position: 0% 200%;
    animation-name: left;
}

@keyframes left {
    from {
        background-position: 0% 200%;
    }
    to {
        background-position: -400% 200%;
    }
}

#player.right {
    background-position: 0% 100%;
    animation-name: right;
}

@keyframes right {
    from {
        background-position: 0% 100%;
    }
    to {
        background-position: -400% 100%;
    }
}
